.login_form {
  max-width: 340px;
  width: 340px;
}
.login_form_button {
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.form {
  width: 400px;
  margin-top: 15px;
}
